*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.container{
    width: 80%;
    margin: auto;
}
#logo h1{
    text-transform: capitalize;
}
span{
    color: orangered;
}
header{
    background-color: #354242;
    color: white;
    min-height: 70px;
    border-bottom: 3px solid orangered;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
}
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul a{
    color: white;
    text-decoration: none;
    padding: 0 20px 0 20px;
    text-transform: uppercase;
}
header nav ul a:hover{
    color: orange;
}
#body{
    background-image: url(images/thought-catalog-505eectW54k-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
#body .container h1{
   text-transform: capitalize;
   font-size: 50px;
   margin-bottom: 20px;
}
#newsletter{
    background-color: #354242;
    color: white;
}
#newsletter .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
}
#newsletter .container input{
    padding: 5px 20px 5px 20px;
}
#newsletter .button1{
    padding: 5px 10px 5px 10px;
    background-color: orangered;
    color: white;
}
#boxes{
    background-color: #f4f4f4;
}
#boxes .container{
    display: flex;
    text-align: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer{
    background-color: orangered;
    color: white;
    text-align: center;
    text-transform: capitalize;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

    